DATABASE_URL=psql://user:pwd@localhost:5432/portal
CACHE_URL=rediscache://localhost:6379
REDIS_TOKEN_URL=rediscache://localhost:6379/1
DATABASE_READONLY_URL=psql://user:pwd@localhost:5432/portal
API_UPPWARD_CACHE_SERVER=rediscache://localhost:6379
API_TRDB_API_URL=http://test.sentinelportal.com:8200/v1/
API_CELERY_BROKER_URL=redis://localhost:6379/10
API_CELERY_RESULT_BACKEND=redis://upp-stg-portal.vylvqt.0001.apse1.cache.amazonaws.com:6379/10
API_ATTACHED_FILE_S3_BUCKET_NAME=upp-stg-portalfile
API_ATTACHED_FILE_S3_KEY_PREFIX=file/
API_ATTACHED_FILE_MEDIA_URL=http://localhost:8000/
API_TOKEN_ENCRYPT_PRIVATE_KEY=-----BEGIN RSA PRIVATE KEY-----\key\n-----END RSA PRIVATE KEY-----
API_S3_BUCKET_NAME=upp-stg-portal
API_S3_IMAGE_MEDIA_URL=https://stgportal.sentinelprotocol.io/
API_S3_ICO_IMAGE_KEY_PREFIX=ico_img/
API_S3_ICO_IMAGE_DEFAULT=https://portal.sentinelprotocol.io/img/ic_project_defult.png
API_S3_USER_IMAGE_KEY_PREFIX=user_img/
API_S3_USER_IMAGE_DEFAULT=https://portal.sentinelprotocol.io/img/anonymous.png
API_EMAIL_HOST_USER=user
API_EMAIL_HOST_PASSWORD=pwd
API_WEB_URL=http://localhost:8080
CONTAINER_TYPE=portal_api
WEB3_INFURA_API_KEY=localhost
API_BLOXY_KEY=ACCG4wmxpYKkd
API_BLOXY_DIST_ENDPOINT=https://bloxy.info/api/sentinel/distribution_transactions
API_BLOXY_SRC_ENDPOINT=https://bloxy.info/api/sentinel/source_transactions
API_CATV_CACHE_SERVER=rediscache://localhost:6379/2
KAFKA_BROKER_1=localhost:9092
KAFKA_BROKER_2=localhost:9092
KAFKA_BROKER_3=localhost:9092
KAFKA_USER_TOPIC=cara-address
KAFKA_BATCH_TOPIC=cara-indicator
KAFKA_CONSUMER_TOPIC=cara-address-results
TRDB_HOST=localhost
TRDB_USERNAME=user
TRDB_PASSWORD=pwd
TRDB_PORT=5432
TRDB_DBNAME=portal
TRDB_SSL_MODE=prefer
LOCAL_HOST=localhost
LOCAL_DBNAME=eth_wallet_risk
LOCAL_USERNAME=upp_cara
LOCAL_PASSWORD=pwd
LOCAL_PORT=5432
LOCAL_SSL_MODE=prefer
TIME_INTERVAL=24
API_LYZE_KEY=pwd
API_ELASTICSEARCH_HOST=http://localhost:9200
API_ELASTICSEARCH_TIMEOUT=36000
API_ELASTIC_ROLE_IDX=dev_role
API_ELASTIC_USER_IDX=dev_user
API_ELASTIC_CASE_IDX=dev_case
API_ELASTIC_INDICATOR_IDX=dev_indicator
API_ELASTICSEARCH_CREDENTIALS=user:pwd
API_LOGSTASH_SERVER=localhost
CORS_ORIGIN_ALLOW_ALL=True
AWS_ACCESS_KEY_ID=aws_key
AWS_SECRET_ACCESS_KEY=aws_secret
