html
  head
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
    script(src='https://kit.fontawesome.com/0a20974b6b.js' crossorigin='anonymous')
  body
    .cara-pg-1
        .heading
            | {{title}}
        .address {{address}}
        .verdict {{verdict}}
        .report-details
            | {{details_head}}
        .border
        .det-row
            .det-name
                | {{address_head}}
            .det-value {{address}}
        .det-row
            .det-name
                | {{report_id}}
            .det-value {{id}}
        .det-row
            .det-name
                | {{type_head}}
            .det-value {{type}}
        .det-row
            .det-name
                | {{ltt_head}}
            .det-value {{last_tx_ts}}
        .det-row
            .det-name
                | {{cara_st_head}}
            .det-value {{cara_search}}
        .det-row
            .det-name
                | {{report_gt_head}}
            .det-value {{cara_rep}}
        .det-row
            .det-name
                | {{sus_tx_chead}}
            .det-value {{sus_tx_count}}
        .det-row
            .det-name
                | {{sus_tx_ahead}}
            .det-value {{sus_tx_amt}}
        .det-row
            .det-name
                | {{verdict_head}}
            .det-value {{verdict}}
        .det-row
            .det-name
                | {{summary_head}}
            .det-value {{summary}}
        .report-details
            | {{ml_ta_head}}
        .border
        .det-row
            .det-name
                | {{result_head}}
            .det-value {{cara_result}}
        .det-row
            .det-name
                | {{score_head}}
            .det-value {{score}}
        .det-row
            .det-name
                | {{pr_result_head}}
            .det-value {{pr_verdict}}
        .det-row
            .det-name
                | {{pr_score_head}}
            .det-value {{pr_risk_score}}
        .det-row
            .det-name
                | {{summary_head}}
            .det-value {{cara_summary}}
        .cara-info
            | {{lr_head}}:0-15    {{mr_head}}:16-30    {{hr_head}}:31-50    {{ehr_head}}:51-100
        .report-details
            | {{sar_head}}
        .det-row
            .det-name
                | {{result_head}}
            .det-value {{trdb_result}}
        .det-row
            .det-name
                | {{summary_head}}
            .det-value {{trdb_summary}}
        .footer
            .logo
                img(src='static/templates/cara/ic_logo_refresh.png')
    .cara-pg-2
        .heading.act
            | {{title}}
        .address.act
            | {{mal_head}}
        .pg-wid-50
            .activities
                .activities-heading
                    | {{risk_ind_head}}
                .activities-sub
                    | {{link_mal_head}}
                .activities-row
                    .activities-logo
                        div(class="{{contact_blacklist_c}}")
                            div(class="{{contact_blacklist}}") {{contact_blacklist_v}}
                    .activities-text
                        | {{black_head}}
                .activities-row
                    .activities-logo
                        div(class="{{malware_c}}")
                            div(class="{{malware}}") {{malware_v}}
                    .activities-text
                        | {{malware_head}}
                .activities-row
                    .activities-logo
                        div(class="{{fraud_c}}")
                            div(class="{{fraud}}") {{fraud_v}}
                    .activities-text
                        | {{scam_head}}
                .activities-row
                    .activities-logo
                        div(class="{{phish_c}}")
                            div(class="{{phish}}") {{phish_v}}
                    .activities-text
                        | {{phish_head}}
                .activities-row
                    .activities-logo
                        div(class="{{hack_c}}")
                            div(class="{{hack}}") {{hack_v}}
                    .activities-text
                        | {{th_head}}
                .activities-row
                    .activities-logo
                        div(class="{{dw_c}}")
                            div(class="{{dw}}") {{dw_v}}
                    .activities-text
                        | {{darkweb_head}}
                .activities-sub
                    | {{industry_head}}
                .activities-row
                    .activities-logo
                        div(class="{{porn_c}}")
                            div(class="{{porn}}") {{porn_v}}
                    .activities-text
                        | {{porn_head}}
                .activities-row
                    .activities-logo
                        div(class="{{gamb_c}}")
                            div(class="{{gamb}}") {{gamb_v}}
                    .activities-text
                        | {{gamb_head}}
                .activities-row
                    .activities-logo
                        div(class="{{co_c}}")
                            div(class="{{co}}") {{co_v}}
                    .activities-text
                        | {{co_head}}
                .activities-sub
                    | {{tx_funds_head}}
                .activities-row
                    .activities-logo
                        div(class="{{exc_io_tx_c}}")
                            div(class="{{exc_io_tx}}") {{exc_io_tx_v}}
                    .activities-text
                        | {{exc_io_head}}
                .activities-row
                    .activities-logo
                        div(class="{{sin_cry_ass_tx_rec_c}}")
                            div(class="{{sin_cry_ass_tx_rec}}") {{sin_cry_ass_tx_rec_v}}
                    .activities-text
                        | {{sin_cat_head}}
                .activities-row
                    .activities-logo
                        div(class="{{min_funds_c}}")
                            div(class="{{min_funds}}") {{min_funds_v}}
                    .activities-text
                        | {{rec_fun_min_head}}
                .activities-row
                    .activities-logo
                        div(class="{{swift_funds_c}}")
                            div(class="{{swift_funds}}") {{swift_funds_v}}
                    .activities-text
                        | {{swift_head}}
                .activities-row
                    .activities-logo
                        div(class="{{sin_ic_og_tx_c}}")
                            div(class="{{sin_ic_og_tx}}") {{sin_ic_og_tx_v}}
                    .activities-text
                        | {{sin_ic_head}}
                .activities-sub
                    | {{dis_pat_head}}
                .activities-row
                    .activities-logo
                        div(class="{{acc_cry_c}}")
                            div(class="{{acc_cry}}") {{acc_cry_v}}
                    .activities-text
                        | {{acc_cry_head}}
                .activities-row
                    .activities-logo
                        div(class="{{reg_int_tx_c}}")
                            div(class="{{reg_int_tx}}") {{reg_int_tx_v}}
                    .activities-text
                        | {{tx_act_reg_head}}
                .activities-row
                    .activities-logo
                        div(class="{{dor_c}}")
                            div(class="{{dor}}") {{dor_v}}
                    .activities-text
                        | {{dor_tx_head}}
                .activities-row
                    .activities-logo
                        div(class="{{lar_bal_c}}")
                            div(class="{{lar_bal}}") {{lar_bal_v}}
                    .activities-text
                        | {{lar_bal_head}}
                .activities-row
                    .activities-logo
                        div(class="{{hi_tx_fee_c}}")
                            div(class="{{hi_tx_fee}}") {{hi_tx_fee_v}}
                    .activities-text
                        | {{sig_tx_head}}
                .activities-row
                    .activities-logo
                        div(class="{{hi_cry_tx_c}}")
                            div(class="{{hi_cry_tx}}") {{hi_cry_tx_v}}
                    .activities-text
                        | {{high_val_head}}
                .activities-row
                    .activities-logo
                        div(class="{{rel_c}}")
                            div(class="{{rel}}") {{rel_v}}
                    .activities-text
                        | {{abn_rel_head}}
                .activities-row
                    .activities-logo
                        div(class="{{mix_c}}")
                            div(class="{{mix}}") {{mix_v}}
                    .activities-text
                        | {{abn_mix_head}}
                .activities-row
                    .activities-logo
                        div(class="{{rel_mix_c}}")
                            div(class="{{rel_mix}}") {{rel_mix_v}}
                    .activities-text
                        | {{rel_mix_head}}
                .activities-row
                    .activities-logo
                        div(class="{{tum_c}}")
                            div(class="{{tum}}") {{tum_v}}
                    .activities-text
                        | {{tumb_head}}
            .disclaimer
                .disclaimer-heading
                    | {{dis_head}}
                .disclaimer-text
                    | {{dis_1}}
                    br
                    br
                    | {{dis_2}}
                    br
                    br
                    | {{dis_3}}
                    br
                    br
                    | {{dis_4}}
                    br
                    br
                    | {{dis_5}}
                    br
                    br
                    | {{dis_6}}
                    br
                    br
                    | {{dis_7}}
                    br
                    br
                    | {{dis_8}}
