<body style="width: 100%; height: 100%; background-color:#fefefe; padding:0; margin:0;">
    <div style="width: 100%; height: 110px; line-height: 110px; text-align: center; color: #fff; position: relative; background:#efefef url('https://d3eihkwfyjrboh.cloudfront.net/email/logo_new.png') no-repeat center; background-size: auto 64px;">
        <a href="https://sentinelprotocol.io" target="_blank">
            <i style="margin-top: 20px; width: 300px; height: 75px; display: inline-block;
            background: url('https://s3-ap-southeast-1.amazonaws.com/uppsalasecurity.com/img/iconpack.svg') 0 -172px no-repeat;">
            </i>
        </a>
    </div>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td align='center' style="font-size:14px;color:#4d4d4d;font-family:NanumGothic, Helvetica, Verdana, Arialsans-serif;">
                    <div style='max-width:600px; margin-top:0; margin-right:auto; margin-bottom:0; margin-left:auto; padding-top:0; padding-right:10px; padding-left:10px; padding-bottom:0;'>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" style="max-width:600px; padding:0; margin:0; font-family:NanumGothic, Helvetica, Verdana, Arialsans-serif; font-size:14px; color:#4d4d4d; text-align:left">
                            <tbody style='background-color:#fcfcfc;'>
                                <tr>
                                    <td width="20px"></td>
                                    <td>&nbsp;</td>
                                    <td width="20px"></td>
                                </tr>
                                <tr>
                                    <td width="20px"></td>
                                    <td>&nbsp;</td>
                                    <td width="20px"></td>
                                </tr>
                                <tr>
                                    <td width="20px"></td>
                                    <td>&nbsp;</td>
                                    <td width="20px"></td>
                                </tr>
                                <tr>
                                    <td width="20px"></td>
                                    <td>
                                        Hi there,
                                    </td>
                                    <td width="20px"></td>
                                </tr>
                                <tr>
                                    <td width="20px"></td>
                                    <td>&nbsp;</td>
                                    <td width="20px"></td>
                                </tr>
                                <tr>
                                    <td width="20px"></td>
                                    <td>&nbsp;</td>
                                    <td width="20px"></td>
                                </tr>
                                <tr>
                                    <td width="20px"></td>
                                    <td>
                                        You have been invited by {{ nickname }} ({{ email }}) to join their organization, {{ org_name }}, on the Sentinel Portal.
                                    </td>
                                    <td width="20px"></td>
                                </tr>
                                <tr>
                                    <td width="20px"></td>
                                    <td>
                                        Please register by following the link below.
                                        The link is valid for only 72 hours.
                                    </td>
                                    <td width="20px"></td>
                                </tr>
                                <tr>
                                    <td width="20px"></td>
                                    <td>&nbsp;</td>
                                    <td width="20px"></td>
                                </tr>
                                <tr>
                                    <td width="20px"></td>
                                    <td>
                                        <a href="{{ link }}" target="_blank">
                                            {{ link }}
                                        </a>
                                    </td>
                                    <td width="20px"></td>
                                </tr>
                                <tr>
                                    <td width="20px"></td>
                                    <td>&nbsp;</td>
                                    <td width="20px"></td>
                                </tr>
                                <tr>
                                    <td width="20px"></td>
                                    <td>
                                        Protect yourself using our latest UPPward Network Protection from malicious site and pre-check on crypto address before you making any transactions.
                                        Visit our UPPward microsite link below.
                                    </td>
                                    <td width="20px"></td>
                                </tr>
                                <tr>
                                    <td width="20px"></td>
                                    <td>&nbsp;</td>
                                    <td width="20px"></td>
                                </tr>
                                <tr>
                                    <td width="20px"></td>
                                    <td>
                                        <a href="https://uppward.sentinelprotocol.io/" target="_blank">
                                            https://uppward.sentinelprotocol.io/
                                        </a>
                                    </td>
                                    <td width="20px"></td>
                                </tr>
                                <tr>
                                    <td width="20px"></td>
                                    <td>&nbsp;</td>
                                    <td width="20px"></td>
                                </tr>
                                <tr>
                                    <td width="20px"></td>
                                    <td>&nbsp;</td>
                                    <td width="20px"></td>
                                </tr>
                                <tr>
                                    <td width="20px"></td>
                                    <td>&nbsp;</td>
                                    <td width="20px"></td>
                                </tr>
                                <tr>
                                    <td width="20px"></td>
                                    <td style='font-size:15px; line-height: 22px;'>
                                        Best regards, <br />
                                        Sentinel Protocol <br />
                                        Uppsala Security
                                    </td>
                                    <td width="20px"></td>
                                </tr>
                                <tr>
                                    <td width="20">&nbsp;</td>
                                    <td width="620"></td>
                                    <td width="20">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td width="20">&nbsp;</td>
                                    <td width="620"></td>
                                    <td width="20">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td width="20px"></td>
                                    <td>&nbsp;</td>
                                    <td width="20px"></td>
                                </tr>
                            </tbody>
                        </table>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" style="max-width:600px; border-collapse: collapse; font-family:NanumGothic, Helvetica, Verdana, Arialsans-serif; font-size:14px; color:#4d4d4d; text-align:left; border: 0;">
                            <tbody style='background-color:#146c7f; color:#fefefe; font-size:11px; text-align: center;'>
                                <tr>
                                    <td style="padding: 32px 32px 0px 32px">
                                        <i style="display: inline-block; position:relative; width: 201px; height: 26px; top: 6px;
                                        background: url('https://s3-ap-southeast-1.amazonaws.com/uppsalasecurity.com/img/iconpack.svg') 0px 0px no-repeat;">
                                        </i>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding: 32px;">
                                        Copyright © 2018-2020 Sentinel Protocol created by Uppsala Security. All Rights Reserved.
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</body>
