<body style="width: 100%; height: 100%; background-color:#fefefe; padding:0; margin:0;">
<div style="width: 100%; height: 80px; line-height: 80px; text-align: center; color: #fff; position: relative; background:#efefef url('https://d3eihkwfyjrboh.cloudfront.net/email/logo_new.png') no-repeat center; background-size: auto 64px;">
    <a href="https://sentinelprotocol.io" target="_blank">
        <img src="https://sentinelprotocol.io/static/sentinel_logo_gray.png" width="160px" style="margin-top: 20px;" />
    </a>
</div>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
        <td align='center' style="font-size:14px;color:#4d4d4d;font-family:NanumGothic, Helvetica, Verdana, Arialsans-serif;">
            <div style='max-width:600px; margin-top:0; margin-right:auto; margin-bottom:0; margin-left:auto; padding-top:0; padding-right:10px; padding-left:10px; padding-bottom:0;'>
                <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" style="max-width:600px; padding:0; margin:0; font-family:NanumGothic, Helvetica, Verdana, Arialsans-serif; font-size:14px; color:#4d4d4d; text-align:left">
                    <tbody style='background-color:#fcfcfc;'>
                    <tr>
                        <td width="20px"></td>
                        <td>&nbsp;</td>
                        <td width="20px"></td>
                    </tr>
                    <tr>
                        <td width="20px"></td>
                        <td>&nbsp;</td>
                        <td width="20px"></td>
                    </tr>
                    <tr>
                        <td width="20px"></td>
                        <td>&nbsp;</td>
                        <td width="20px"></td>
                    </tr>
                    <tr>
                        <td width="20px"></td>
                        <td>
                            Hi {{ nickname }},
                        </td>
                        <td width="20px"></td>
                    </tr>
                    <tr>
                        <td width="20px"></td>
                        <td>&nbsp;</td>
                        <td width="20px"></td>
                    </tr>
                    <tr>
                        <td width="20px"></td>
                        <td>&nbsp;</td>
                        <td width="20px"></td>
                    </tr>
                    <tr>
                        <td width="20px"></td>
                        <td>
                            <a href="{{ link }}" target="_blank">
                                {{ link }}
                            </a>
                        </td>
                        <td width="20px"></td>
                    </tr>
                    <tr>
                        <td width="20px"></td>
                        <td>&nbsp;</td>
                        <td width="20px"></td>
                    </tr>
                    <tr>
                        <td width="20px"></td>
                        <td>&nbsp;</td>
                        <td width="20px"></td>
                    </tr>
                    <tr>
                        <td width="20px"></td>
                        <td style='font-size:15px; line-height: 22px;'>
                            Best regards, <br />
                            Team Sentinel Protocol <br />
                            Uppsala Foundation
                        </td>
                        <td width="20px"></td>
                    </tr>
                    <tr>
                        <td width="20">&nbsp;</td>
                        <td width="620"></td>
                        <td width="20">&nbsp;</td>
                    </tr>
                    <tr>
                        <td width="20">&nbsp;</td>
                        <td width="620"></td>
                        <td width="20">&nbsp;</td>
                    </tr>
                    <tr>
                        <td width="20px"></td>
                        <td>&nbsp;</td>
                        <td width="20px"></td>
                    </tr>
                    </tbody>
                </table>
                <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" style="max-width:600px; border-collapse: collapse; font-family:NanumGothic, Helvetica, Verdana, Arialsans-serif; font-size:14px; color:#4d4d4d; text-align:left; border: 0;">
                    <tbody style='background-color:#146c7f; color:#fefefe; font-size:11px; text-align: center;'>
                    <tr>
                        <td style="padding: 32px;">
                            Copyright © 2018 Sentinel Protocol created by Uppsala Foundation. All Rights Reserved.
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </td>
    </tr>
    </tbody>
</table>
</body>
